* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* 01 NAVIGATION */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 60px;
}

.navigation .main-wrapper {
  display: flex;
  align-items: center;
  gap: 70px;
}
.navigation .menu-wrapper {
  display: flex;
  gap: 60px;
}
.navigation .menu-wrapper a {
  text-decoration: none;
  color: #21383e;
  font-size: 13px;
}
.navigation .auth-wrapper {
  display: flex;
  gap: 60px;
}

.navigation .auth-wrapper > .btn {
  font-weight: 600;
  color: #553c16;
}
.navigation .auth-wrapper > .btn-link {
  background-color: transparent;
  border: 0;
}
.navigation .auth-wrapper > .btn-link:after {
  content: "";
  display: block;
  position: absolute;
  padding: 45px 70px;
  top: 0;
  right: 0;
  background-color: #f5f2ec;
  z-index: -1;
  border-bottom-left-radius: 35px;
}
/* NAVIGATION END */

/* 02 HERO WRAPPER */
.hero-wrapper {
  padding-top: 116px;
  padding-left: 80px;
  background-image: url("../img/Group 182.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}
.hero-wrapper .title {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.5px;
  word-break: break-word;
  width: 500px;
  margin-bottom: 51px;
}

.hero-wrapper .description {
  font-size: 14px;
  line-height: 26px;
  color: #21383e;
  letter-spacing: 0.5px;
  width: 405px;
  margin-bottom: 50px;
}
.hero-wrapper .register-input {
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  box-shadow: 0 30px 80px rgba(47, 68, 88, 20%);
  width: calc(100% / 3 + 69px);
  /* width: 696px; */
  padding: 28px;
  border-radius: 10px;
}
.hero-wrapper .register-input small {
  display: inline-block;
  font-size: 13px;
  color: #7d8186;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}
.hero-wrapper .register-input p {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0.23px;
  /* color: #0000; */
}
.hero-wrapper .btn {
  background-color: #725ba1;
  color: #ffff;
  border: 0;
  padding: 24px 64px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
}
/* HERO SECTION END */

/* 03   ABOUT WRAPPER  */

.about-wrapper {
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
  padding-left: 130px;
  margin-top: 100px;
}
.about-wrapper .title {
  color: #121212;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 62px;
  width: 440px;
}
.about-wrapper .line {
  margin: 50px 0;
  background-color: #dedede;
  width: 121px;
  height: 1px;
}

.about-wrapper .description {
  color: #121212;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.35px;
  width: 405px;
  margin: 50px 0;
}

.about-wrapper .user {
  display: flex;
  gap: 16px;
  align-items: center;
}
.about-wrapper .user .user-info {
  display: flex;
  flex-direction: column;
  /* flex: 2;  */
}
.about-wrapper .img-content {
  display: flex;
  flex-direction: column;
}

.about-wrapper .img-content .top {
  position: relative;
}

.about-wrapper .img-content .top img {
  position: relative;
  left: 348px;
}

.about-wrapper .img-content .msj-1 {
  position: absolute;
  background-color: #7d6353;
  border-radius: 35px;
  border-bottom-right-radius: 0;
  padding: 14px 30px;
  color: #fff;
  letter-spacing: 0.33px;
  font-size: 14px;
  line-height: 22px;
  width: 234px;
  top: 171px;
  left: 172px;
}

.about-wrapper .img-content .bottom {
  position: relative;
}
.about-wrapper .img-content .bottom img {
  position: relative;
  bottom: 10px;
}

.about-wrapper .img-content .msj-2 {
  position: absolute;
  background-color: #726985;
  border-radius: 35px;
  padding: 14px 30px;
  color: #fff;
  letter-spacing: 0.33px;
  font-size: 14px;
  line-height: 22px;
  width: 234px;
  top: 52px;
  left: 256px;
}
.about-wrapper .img-content .msj-3 {
  position: absolute;
  background-color: #726985;
  border-radius: 35px;
  border-bottom-left-radius: 0;

  padding: 14px 30px;
  color: #fff;
  letter-spacing: 0.33px;
  font-size: 14px;
  line-height: 22px;
  width: 328px;
  top: 122px;
  left: 256px;
}

/* HERO SECTION END */

/* 04 TESTIMONIAL */

.testimonial {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-left: 130px;
  margin-top: 100px;
}

.testimonial .testimonial-img-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* padding: 50px; */
}

.testimonial .testimonial-img-content .group {
  position: absolute;
  top: 10px;
  left: 262px;
}

.testimonial .testimonial-video {
  display: flex;
  background-color: #ffff;
  box-shadow: 0 30px 80px rgba(47, 68, 88, 20%);
  padding: 25px;
  position: absolute;
  bottom: 38px;
  width: 264px;
  right: 231px;
  border-radius: 25px;
  /* justify-content: space-between; */
}
.testimonial .testimonial-video .video{
    position: absolute;
    top: 50px;
    left: 45px;
}

.testimonial .testimonial-img-content .testimonial-video-text{
    margin-left: 27px;
}
.testimonial .text-content{
    margin-left: 500px;
}
.testimonial .text-content .title {
    color: #121212;
    font-size: 50px;
    letter-spacing: -0.5px;
    line-height: 62px;
    width: 440px;
  }

  .testimonial .text-content .line {
    margin: 50px 0;
    background-color: black;
    width: 121px;
    height: 1px;
  }

  .testimonial .text-content .description {
    color: #121212;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.35px;
    width: 300px;
    margin: 50px 0;
  }
  
  .testimonial .text-content  .user {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .testimonial .user .user-info {
    display: flex;
    flex-direction: column;
    /* flex: 2;  */
  }

/* .testimonial .testimonial-video .video {
  position: absolute;
  top: 51px;
  left: 49px;
} */
/* .testimonial .testimonial-img-content .testimonial-video {
  position: absolute;
  top: 10px;
  background-color: #ffff;
  box-shadow: 0 30px 80px rgba(47, 68, 88, 20%);
  top: 500px;
  right: 158px;
  border-radius: 10px;
} */
